@import "../helpers/mixins";

.container {
  overflow-x: scroll;
}
.cards {
  display: flex;
  align-items: center;
  margin: 6%;
}

@media (min-width: 700px) {
  .container {
  }
  .cards {
    display: flex;
    align-items: center;
    margin: 0;
  }
}
