@import "../helpers/mixins";

@media screen and (max-width: 900px) and (min-width: 200px) {
  .Slider____ {
    width: 100px;
    background-color: yellowgreen;
  }
}
@media (max-width: 700px) {
  .container {
    // @include flexCenter();
    // flex-direction: column;
    // width: 100%;
    margin-top: 10%;
    width: 100vw;
  }

  .container-slider {
    width: 100%;
  }
  .slider {
  }

  .header-container {
    @include flexCenter();
    span {
      margin-bottom: 2%;
    }
  }
  .header {
    width: 300px;
    height: 22px;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.93px;
    text-align: center;
  }
  .cards-container {
    // overflow: auto;
    // display: flex;
    width: 100vw;
  }
  .cards {
    // @include flexCenter();
    // display: flex;
    width: 100vh;
  }
  .All-Restaurants {
    display: none;
    span {
      display: none;
    }
  }
}
// ----------------Desktop
@media (min-width: 700px) {
  .container {
    @include flexCenter();
    flex-direction: column;
    margin-top: 10%;
  }
  .container-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .header-container {
    margin-bottom: 2%;
  }
  .header {
    height: 40px;
    margin: 140px 0 42px 0;
    // font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.25px;
    text-align: center;
  }
  .cards {
    @include flexCenter();
  }
  .All-Restaurants {
    position: absolute;
    right: 11%;

    span {
      width: 233px;
      height: 35px;
      margin: 0 12px 0 0;
      font-family: HelveticaNeue;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2px;
      text-align: center;
    }
  }
}
