@import "../helpers/mixins";
.buttonSession {
  @include flexCenter();
}
.container {
  @include flexCenter();
  height: 125px;
  opacity: 0.9;
  background-color: #f7f7f7;
}
.button {
  @include flexCenter();
  height: 43px;
  margin: 0 0 0 17px;
  padding: 15px 14px 13px;
  opacity: 0.9;
  background-color: rgba(232, 196, 122, 0.8);
  border: none;
}
@media (min-width: 700px) {
  .container {
    display: none;
  }
}
